<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Admin Contact</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Messages reçus</h1>
  <% if (messages.length === 0) { %>
    <p>Aucun message pour le moment.</p>
  <% } else { %>
    <ul>
      <% messages.forEach(msg => { %>
        <li>
          <strong><%= msg.name %></strong> (<%= msg.email %>)<br>
          <%= msg.message %><br>
          <em>Envoyé le <%= new Date(msg.created_at).toLocaleString() %></em>
        </li>
        <hr>
      <% }) %>
    </ul>
  <% } %>
</body>
</html>
